<app-menu></app-menu>

<form [formGroup]="movieForm" (ngSubmit)="submit($event)">

  <mat-form-field class="example-full-width">
    <mat-label>Titre</mat-label>
    <input matInput placeholder="Titre du film..." formControlName="name">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Acteurs</mat-label>
    <mat-select formControlName="actors" multiple>
      @for(actor of actorsSelect ; track actor.id){
      <mat-option [value]="actor.id">
        {{ actor.name }}
      </mat-option>
    }
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Catégories</mat-label>
    <mat-select formControlName="category">
      @for (category of categories; track category.id) {
        <mat-option [value]="category.id">
          {{ category.label }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <div class="example-button-row">
    <button matButton="elevated" [disabled]="movieForm.invalid">
      Créer
    </button>
  </div>
</form>