<form [formGroup]="userForm" (ngSubmit)="submit($event)">

    <mat-form-field class="example-full-width">
        <mat-label>Identifiant</mat-label>
        <input matInput placeholder="Identifiant..." formControlName="login">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Mot de passe</mat-label>
        <input matInput placeholder="Mot de passe..." formControlName="password">
    </mat-form-field>

    <div class="example-button-row">
        <button matButton="elevated" [disabled]="userForm.invalid">
            Se connecter
        </button>
    </div>
</form>

<p style="color: red">
    {{ errorMessage }}
</p>